<!-- Header content -->
<div class="section no-pad-bot">
  <div class="container">
    <br>
    <h1 class="header center-align">Nosotros</h1>
  </div>
</div>
<!-- End Header content -->

<div class="section">
  <div class="container">

    <div class="center-align">
      <p style="font-weight: lighter; font-size: x-large">
        Youniverse es una tienda online de polos con diseños propuestos a un proceso de preventa con la finalidad
        de que los más valorados sea impresos y distribuidos. Publicamos diseños para polos únicos y originales.
        Tú decides qué diseño será el próximo top de ventas de nuestro sitio. Trabajamos con talentosos
        ilustradores y diseñadores que quieren mostrar su trabajo, nosotros nos encargamos de que sus
        buenos diseños lleguen a ti.
      </p>
    </div>
    <br/><br/>

    <h4>¿Cómo funciona?</h4>
    <p>
      Youniverse usa el crowdfunding (financiamiento colectivo dentro de un tiempo determinado para sacar
      adelante un proyecto) para que los mejores diseños tomen vida y sean plasmados en polos con alta demanda
      de la comunidad. ¿Quieres ver lo que pasa en nuestra comunidad?
    </p>
    <ol>
      <li>Un super diseñador envía su diseño a Youniverse.</li>
      <li>Youniverse lanza la campaña para que este diseño alcance 12 preventas
        (sí querido comprador 12 polos comprados) para que el diseño sea producido,
        distribuido y lo puedas usar en tu próxima salida.</li>
      <li>El súper diseñador muy agradecido con tu compra, recibe un considerable
        porcentaje de ganancia por su exitoso diseño</li>
    </ol>

    <br/>

    <h4>¿Cómo comprar un polo?</h4>
    <p>¿Te gusta vestir polos súper originales? Entra a Youniverse, elige el diseño que te gusta y paga por una
      preventa del polo. Cada polo pasa por un proceso de crowfunding, en el que se requiere  de un mínimo de
      doce preventas para que el polo sea producido y distribuido. ¡Tú eliges qué diseño toma vida!
    </p>

    <p><strong>1. Elige tu diseño y participa del crowdfounding</strong></p>
    <ul class="list--disc-style" style="padding-left: 50px">
      <li>Para hacer compras en Youniverse debes estar registrado, asegúrate de haberte registrado con tu email y datos personales.</li>
      <li>Elige el diseño más cool.</li>
      <li>Selecciona la talla y los detalles del polo que quieres pedir.</li>
      <li>Selecciona el medio de pago y efectúalo</li>
      <li>Enviaremos una confirmación de tu compra a tu email</li>
    </ul>

    <p><strong>2. Sigue el crowdfunding del diseño que elegiste</strong></p>

    <ul class="list--disc-style" style="padding-left: 50px">
      <li>Recuerda que cada diseño necesita como mínimo de doce preventas para ser producido.</li>
      <li>Después de realizar tu compra, síguenos en el proceso de crowdfunding. Si el diseño llega a su meta de doce preventas,
        te avisaremos por email, produciremos los polos y los distribuiremos entre los compradores.</li>
    </ul>

    <p><strong>3. Recibe tu polo en casa</strong></p>

    <ul class="list--disc-style" style="padding-left: 50px">
      <li>Cada diseño requiere de un mínimo de 20 días para producir y distribuir entre los compradores,
        considera este tiempo para la llegada de tu polo a casa.</li>
    </ul>

    <br/>

    <h4>¿Cómo subir tu diseño?</h4>
    <p>
      ¿Eres ilustrador o diseñador? ¡Trabaja con nosotros! Sabemos que inviertes mucho tiempo en tus habilidades
      y tu trabajo. Youniverse te ofrece los mejores recursos para monetizar tus proyectos sin dejar de centrarte
      en tus diseños. Envíanos tus diseños a través nuestro formulario, nosotros nos comunicaremos contigo para
      coordinar la publicación de tu diseño. Si tu diseño alcanza las doce preventas, realizaremos la producción
      de polos y la distribución. Éstos son los pasos para publicar tus diseños en Youniverse
    </p>
    <p><strong>1. Envía tu diseño a través de nuestra plantilla</strong></p>
    <ul class="list--disc-style" style="padding-left: 50px">
      <li>Sube tu diseño en nuestra plantilla, la puedes encontrar ingresando a sube tu diseño, en la página principal. </li>
      <li>Nosotros revisaremos tu propuesta y la publicaremos en Youniverse.</li>
      <li>Recibirás un email de confirmación con información sobre la publicación de tu diseño.</li>
    </ul>
    <p><strong>2. Participa del crowdfunding</strong></p>
    <ul class="list--disc-style" style="padding-left: 50px">
      <li>
        Cada diseño es lanzado a crowdfunding  por quince días, dentro de los cuales debe conseguir doce (12)
        o más preventas. Los compradores deben elegir el diseño y pagar por él.
      </li>
    </ul>
    <p><strong>3. Gana dinero con tu talento</strong></p>
    <ul class="list--disc-style" style="padding-left: 50px">
      <li>Si tu diseño alcanza la meta de doce preventas, recibirás una comisión de ganancia del 25% por cada prenda vendida.
        Si tu diseño no alcanza las doce preventas, es retirado de la página, y el dinero es devuelto a los compradores</li>
    </ul>

    <h5>Características y condiciones para los diseños en Youniverse</h5>

    <p><strong>Para que tu diseño sea aceptado</strong></p>
    <ul class="list--disc-style" style="padding-left: 50px">
      <li>El diseño debe ser exclusivo y original, inédito (no copias).</li>
      <li>Preferentemente, el archivo debe ser vectorizado o en mapa de bits (600 ppp en tamaño real).</li>
      <li>Presenta el archivo en capas separadas, CMYK.</li>
      <li>El diseño debe contener colores planos, no contener sombras o brillos, puesto que estos efectos
        no siempre quedan bien en el estampado. Busca las mejores condiciones para tu diseño.</li>
      <li>El área de impresión del diseño en la parte delantera de la prenda es  11" de ancho por 14" de altura. </li>
      <li>Si tu diseño tiene detalles especiales, especifícalos siempre en la descripción. </li>
    </ul>
    <p><strong>No aceptamos …</strong></p>
    <ul class="list--disc-style" style="padding-left: 50px">
      <li>No aceptamos diseños con contenidos inadecuados u ofensivos: contenidos sexuales, discriminatorios,
        ideas proselitistas, políticas o religiosas controversiales, etc.</li>
      <li>No aceptamos diseños que no se ajusten al formato pedido por Youniverse.club</li>
      <li>No aceptamos copias de otros diseños.</li>
    </ul>
    <br/>
    <p class="center-align"><%= link_to '¡Sube tu diseño ahora!', new_request_path, class: 'waves-effect waves-light btn' %></p>

    <br/><br/>
  </div>
</div>