<!-- Header content -->
<div class="section no-pad-bot">
  <div class="container">
    <br>
    <h1 class="header center-align">Nosotros</h1>
  </div>
</div>
<!-- End Header content -->

<div class="section">
  <div class="container">

    <div class="center-align">
      <p style="font-weight: lighter; font-size: x-large">
        Youniverse es una tienda online de polos con diseños propuestos a un proceso de preventa con la finalidad
        de que los más valorados sea impresos y distribuidos. Publicamos diseños para polos únicos y originales.
        Tú decides qué diseño será el próximo top de ventas de nuestro sitio. Trabajamos con talentosos
        ilustradores y diseñadores que quieren mostrar su trabajo, nosotros nos encargamos de que sus
        buenos diseños lleguen a ti.
      </p>
    </div>
    <br/><br/>

    <h4>¿Cómo funciona?</h4>
    <p>
      Youniverse usa el crowdfunding (financiamiento colectivo dentro de un tiempo determinado para sacar
      adelante un proyecto) para que los mejores diseños tomen vida y sean plasmados en polos con alta demanda
      de la comunidad. ¿Quieres ver lo que pasa en nuestra comunidad?
    </p>
    <ol>
      <li>Un super diseñador envía su diseño a Youniverse.</li>
      <li>Youniverse lanza la campaña para que este diseño alcance 12 preventas
        (sí querido comprador 12 polos comprados) para que el diseño sea producido,
        distribuido y lo puedas usar en tu próxima salida.</li>
      <li>El súper diseñador muy agradecido con tu compra, recibe un considerable
        porcentaje de ganancia por su exitoso diseño</li>
    </ol>

    <br/>

    <h4>¿Cómo comprar un polo?</h4>
    <p>¿Te gusta vestir polos súper originales? Entra a Youniverse, elige el diseño que te gusta y paga por una
      preventa del polo. Cada polo pasa por un proceso de crowfunding, en el que se requiere  de un mínimo de
      doce preventas para que el polo sea producido y distribuido. ¡Tú eliges qué diseño toma vida!
    </p>

    <p><strong>1. Elige tu diseño y participa del crowdfounding</strong></p>
    <ul class="list--disc-style" style="padding-left: 50px">
      <li>Para hacer compras en Youniverse debes estar registrado, asegúrate de haberte registrado con tu email y datos personales.</li>
      <li>Elige el diseño más cool.</li>
      <li>Selecciona la talla y los detalles del polo que quieres pedir.</li>
      <li>Selecciona el medio de pago y efectúalo</li>
      <li>Enviaremos una confirmación de tu compra a tu email</li>
    </ul>

    <p><strong>2. Sigue el crowdfunding del diseño que elegiste</strong></p>

    <ul class="list--disc-style" style="padding-left: 50px">
      <li>Recuerda que cada diseño necesita como mínimo de doce preventas para ser producido.</li>
      <li>Después de realizar tu compra, síguenos en el proceso de crowdfunding. Si el diseño llega a su meta de doce preventas,
        te avisaremos por email, produciremos los polos y los distribuiremos entre los compradores.</li>
    </ul>

    <p><strong>3. Recibe tu polo en casa</strong></p>

    <ul class="list--disc-style" style="padding-left: 50px">
      <li>Cada diseño requiere de un mínimo de 20 días para producir y distribuir entre los compradores,
        considera este tiempo para la llegada de tu polo a casa.</li>
    </ul>

    <br/><br/>
  </div>
</div>