<!-- Header content -->
<div class="section no-pad-bot">
  <div class="container center-align">
    <br><br>

    <h1 class="header">Youniverse</h1>

    <div class="row">
      <h5 class="col s12 light">Un lugar moderno donde encontrar la ropa más cool.</h5>
    </div>
    <br><br>

  </div>
</div>
<!-- End Header content -->

<!-- Main content -->
<div class="section">
  <div class="row">


    <% if @products.each do |product| %>

        <div class="col s6 m4 l3">
          <div class="card">
            <% if product.design_image.exists? %>
                <div class="card-image waves-effect waves-block waves-light">
                  <%= image_tag product.design_image.url(:preview) %>
                </div>
            <% end %>

            <ul class="card-action-buttons">
              <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
              </li>
              <li>
                <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
              </li>
            </ul>
            <div class="card-content">
              <p class="card-title activator grey-text text-darken-4">
                <%= link_to product.name, product %>
              </p>

            </div>
            <div class="card-reveal" style="display: none; transform: translateY(0px);">
          <span class="card-title grey-text text-darken-4">
            <a href="#"><%= product.name %></a><i class="material-icons right">cerrar</i></span>

              <p style="margin: 0; font-size: 12px;">Creado por pepito</p>

              <p><%= product.description %></p>

              <p><a href="#!">Ver más detalles</a></p>
            </div>
          </div>
        </div>
    <% end.empty? %>
        <p> no publications so far :(</p>

    <% end %>


  </div>
</div>
<!-- End Main content -->

