<!-- Header content -->
<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header">Youniverse</h1>
    <div class="row">
      <h5 class="header col s12 light">A modern place to find coolest dress</h5>
    </div>
    <br><br>

  </div>
</div>
<!-- End Header content -->

<!-- Main content -->
<div class="section">
  <div class="row">

    <div class="col s6 m4 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://dov5cor25da49.cloudfront.net/products/6210/636x460shirt_guys_01.jpg">
        </div>
        <ul class="card-action-buttons">
          <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
          </li>
          <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
          </li>
        </ul>
        <div class="card-content">
          <p class="card-title activator grey-text text-darken-4">
            Threadless Mens Tee
          </p>
          <p style="font-size: 20px">$14 - $20</p>

        </div>
        <div class="card-reveal" style="display: none; transform: translateY(0px);">
          <span class="card-title grey-text text-darken-4"><a href="#">Threadless Mens Tee</a> <i class="material-icons right">close</i></span>
          <p style="margin: 0; font-size: 12px;">Designed by Pepito Martinez</p>
          <h5>$14 - $20</h5>
          <p>Here is some more information about this product.</p>
          <p><a href="#!">View more details</a></p>
        </div>
      </div>
    </div>

    <div class="col s6 m4 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://dov5cor25da49.cloudfront.net/products/6360/636x460vneck_guys_01.jpg">
        </div>
        <ul class="card-action-buttons">
          <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
          </li>
          <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
          </li>
        </ul>
        <div class="card-content">
          <p class="card-title activator grey-text text-darken-4">Mens Tee</p>
          <p style="font-size: 20px">$14 - $18</p>
        </div>
        <div class="card-reveal" style="display: none; transform: translateY(0px);">
          <span class="card-title grey-text text-darken-4"><a href="#">Mens Tee</a><i class="material-icons right">close</i></span>
          <p style="margin: 0; font-size: 12px;">Designed by Pepito Martinez</p>
          <h5>$14 - $20</h5>
          <p>Here is some more information about this product.</p>
          <p><a href="#!">View more details</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- End Main content -->

<br><br>

<!-- Login form modal -->
<div id="login-form-modal" class="modal" style="width: 100%">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">

        <div class="valign center">
          <h4>Sign in to Youniverse</h4><br/>
        </div>

        <div class="row center">
          <div class="col s12">
            <button class="login-google btn waves-effect waves-light red"><i class="mdi mdi-google left"></i>Sign in with Google</button>
          </div>
        </div>

        <div class="row center">
          <p class="small">We will never post to Twitter or Facebook without your permission.
            For more info, please see our <a href="#">Login FAQ</a>.</p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End Login form modal -->