<!-- Header content -->
<div class="section no-pad-bot">
  <div class="container">
    <br>

    <h1 class="header center-align">Políticas de privacidad</h1>
  </div>
</div>
<!-- End Header content -->

<div class="section">
  <div class="container">
    <p>
      Para Youniverse es importante respetar la privacidad y la seguridad de la información de
      nuestros compradores, así como de nuestros diseñadores. Aquí resumimos las políticas
      para el tratamiento de la información dentro de nuestra plataforma
    </p>

    <h4>La Información que recogemos</h4>
    <p>
      En Youniverse nos reservamos el derecho de guardar y administrar todo contenido que
      recibimos de diseñadores, compradores, o personas que navegan en nuestra página. Esta
      información comprende:
    </p>

    <h6>Información Personal</h6>
    <p>
      Datos personales, como nombres, dirección de email, números de teléfono, información
      sobre sus métodos de pago y datos financieros (números de tarjeta, códigos de seguridad,
      entre otros), en caso de que decida hacer compras en nuestra página. Además, nuestro
      sitio también recoge información sobre el hardware y software de tu computadora, como
      la dirección IP, el tipo de navegador, nombres de dominio, fechas y horas de visita y
      direcciones de sitios web que visitas mientras navegas en nuestra página.
    </p>
    <p>
      Usamos toda tu información para brindar un mejor producto y/o servicio, además,
      podremos contactarte con publicidad relacionada a productos, o encuestas que piden tu
      opinión sobre nosotros. Queremos aclarar que, intencionalmente, no recogemos
      información de menores de edad, si alguna vez la recibimos, dicha información será
      tratada con la privacidad del caso.
    </p>

    <h6>Información de terceros</h6>
    <p>
      También podemos recoger datos que tú proporciones acerca de otras personas, como
      familiares y amigos, a través de recomendaciones de nuestra página, reenvío de mailing,
      etiquetas o interacciones en redes sociales.
    </p>

    <h6>Información recogida automáticamente</h6>
    <p>
      Cuando visitas nuestra página, nosotros dejamos en tu computadora cookies y
      herramientas de internet que recogen información  que facilita tus próximos accesos y
      personaliza tu experiencia en nuestra página.
    </p>
    <p>
      Las cookies son archivos de texto que almacenamos en tu computadora y que sirven para
      recoger información sobre la actividad de la persona. Son inofensivos, no ejecutan
      programas por sí solos ni son capaces de distribuir virus en la computadora. Los cookies
      recogen y proporcionan información útil sobre tu actividad para ahorrar tiempo, por
      ejemplo, usan tu información de usuario y contraseña para ayudarte a ingresar más
      rápido a nuestra página.
    </p>
    <p>
      A través de estas cookies y herramientas, se recogerá información de forma automática
      sobre tu actividad en internet mientras permaneces conectado a nosotros. Esta
      información también permite afinar nuestros servicios para ti, con publicidad acorde a
      tus preferencias, productos acorde a tus gustos. Generalmente, la computadora acepta
      de forma automática, sin embargo, puedes modificar esta configuración si lo deseas.
    </p>

    <h6>Información recogida por terceros</h6>
    <p>
      En ocasiones, otras compañías publicarán contenidos en nuestra web, como anuncios
      publicitarios, aplicando cookies y herramientas para conocer el movimiento de la página.
      Nosotros no brindamos información personal a estas compañías, sin embargo, si decides
      interactuar con sus anuncios y brindarles tu información, te recomendamos ser
      cuidadoso con la información que brindas a estas compañías, puesto que sus políticas de
      privacidad pueden ser distintas a las nuestras.
    </p>

    <h4>Uso de la información</h4>
    <p>
      La información que recogemos es usada para hacer nuestro trabajo, entregando los
      productos y servicios que has solicitado a través de nuestra página, además,
      administrando los procesos de atención y comunicación efectiva con nuestros clientes,
      asistiéndolos en sus procesos financieros (compras, reembolsos, devoluciones, etc.),
      investigando sobre nuestro público, haciendo análisis de los datos manejados en la
      página, gestionando la publicidad orientada a tus intereses, así como para cumplir con los
      procedimientos legales que requiere en algunos casos debido al cumplimiento de nuestra
      políticas y condiciones.
    </p>

    <h4>Compartir la información</h4>
    <p>
      Toda la información que nos proporcionas es manejada con extremo cuidado.
      Nosotros no compartimos tu información con terceros, sin embargo, es necesario que
      compartamos la información con nuestros socios y proveedores autorizados (ejemplo:
      envío de paquetería, procesamiento de pagos, estudios y análisis estadísticos sobre la
      página, entre otros), a quienes se les brindará sólo la información necesaria para que
      cumplan sus funciones y también firman un contrato de confidencialidad para el manejo
      de tus datos. También, nuestros socios comerciales (partners en ofertas, premios,
      concursos) recibirán tu información si tú aceptas participar e interactuar con ellos
      (nosotros les proporcionaremos tu email). No olvide revisar las políticas de estas
      empresas en caso de interactuar con ellos a través de nuestros enlaces. Si es necesario,
      tendremos que brindar información personal en el marco de procesos
      judiciales o procesos en lo que se requiere levantar el secreto de información para
      proteger derechos de propiedad intelectual, o proteger los términos y políticas de
      Youniverse o de nuestros compradores y diseñadores.
    </p>
    <p>
      Si usted desea modificar sus datos en nuestra página, puede hacerlo ingresando a tu perfil
      en nuestra página y realizando los necesarios. Si usted decide cerrar su cuenta en nuestra
      página, nosotros nos quedaremos con su información por un tiempo adicional, esto para
      evitar fraudes o cobros indebidos de otras fuentes. Si usted dio su información a otras
      empresas a través de un enlace nuestro, dicha información se regirá por las políticas de
      información de dichas empresas.
    </p>

    <h4>Protección de la información recogida</h4>
    <p>
      En Youniverse tomamos todas las medidas pertinentes para el cuidado de tu información
      personal. Sólo los socios y trabajadores de Youniverse tienen acceso a tu información, y
      no tiene permitido darle otro uso diferente de los fines de Youniverse.
    </p>
    <p>
      Utilizamos el cifrado en la transmisión de tu información personal entre tu sistema y el
      nuestro, también utilizamos servidores de seguridad para ayudar a evitar que personas
      no autorizadas puedan acceder a tu información personal. A pesar de que ponemos todo
      el cuidado posible en esto, estamos conscientes de que no
      hay ningún sistema completamente seguro, por lo tanto, no podemos prometer que tu
      información quede bien cerrada siempre. Recomendamos tener sumo cuidado con la
      administración de tus datos personales y financieros dentro de la página, y utilizar
      ordenadores o dispositivos de confianza y seguros para realizar tus transacciones
      financieras. Además, mantenerse plenamente informado sobre las protecciones contra el
      robo de identidad.
    </p>
    <p>
      Ocasionalmente, actualizaremos nuestras Políticas de Privacidad, para actualizar el
      tratamiento de la información de nuestros compradores y diseñadores, te
      recomendamos revisarlas periódicamente para mantenerte actualizado sobre ellas.
    </p>
    <p>
      Si tienes alguna pregunta o consulta sobre nuestras Políticas de Privacidad, por favor,
      escríbenos a <%= link_to 'hi@youniverse.club', 'mailto:hi@youniverse.club' %> .
    </p>

    <br/>
    <br/>
  </div>
</div>