<!-- Header content -->
<div class="section no-pad-bot">
  <div class="container">
    <br>

    <h1 class="header center-align">Términos y uso del servicio</h1>
  </div>
</div>
<!-- End Header content -->

<div class="section">
  <div class="container">
    <p>
      ¡Bienvenido a Youniverse!, nos complace trabajar para una comunidad en la que se
      aprecia el diseño exclusivo y el trabajo de excelente calidad. Te recomendamos leer
      cuidadosamente los términos y condiciones descritos a continuación,<strong>los cuales son
      aceptados plenamente desde el momento en que navegas o compras en nuestra página
      web</strong>. Estos términos pueden cambiar a petición del equipo Youniverse, y no
      necesariamente podemos notificarte.
    </p>

    <p>
      Youniverse propone sus términos y condiciones de forma integral en esta página web.
      Toda persona natural o jurídica que quiera navegar o comprar a través de nuestra web se
      encuentra sujeto a seguir nuestros términos y condiciones. Si no deseas seguirlos, eres
      libre de no hacerlo, pero no podrás efectuar compras o sostener contratos con nosotros.
    </p>

    <h4>Navegación web</h4>

    <ul class="list--disc-style" style="padding-left: 50px">
      <li>Todas las compras realizadas dentro de nuestra página web son únicamente para
        uso personal, quedan terminantemente prohibidas las compras para uso
        comercial.</li>
      <li>Tú no copiarás ninguna parte de nuestra página web,  ni los contenidos o
        imágenes, sin autorización escrita del equipo de Youniverse</li>
      <li>Para realizar una compra a través de Youniverse es indispensable ingresar los
        datos solicitados en el login (nombres, dirección, email, teléfonos y otros), de lo
        contrario, no podrás realizar ningún tipo de compra o contrato. Youniverse se
        compromete a cuidar la confidencialidad de los mismos, usando los datos
        exclusivamente para el beneficio y mejoramiento del servicio de nuestra
        plataforma.</li>
      <li>Youniverse sólo hace tratos comerciales con personas mayores de edad. Para
        hacer compras o contratos con nosotros debes tener como mínimo 18 años en
        Perú (o la edad requerida en tu país para ser legalmente mayor de edad). Si eres
        menor de edad, al loguearte, realizar compras o contratos en nuestra página, te
        comprometes a contar con un permiso expreso de tus padres.</li>
    </ul>

    <h4>Políticas de privacidad</h4>
    <p>
      Youniverse.club se reserva el derecho de guardar y administrar todo contenido que
      recibe de diseñadores, compradores, o personas que navegan en nuestra página. Por
      favor, ten en cuenta que toda información que nos envíes (mensajes, post, diseños, etc.)
      quedará guardada en nuestros archivos. Dicha información será revelada sólo cuando
      Youniverse.club lo considere necesario, de acuerdo a lo que está establecido en nuestras
      <%= link_to 'Políticas de Privacidad', privacy_path %>.
    </p>
    <p>
      Cabe agregar que, Youniverseb no puede controlar la información que publican terceros
      en nuestra página web, entendido como información (posts, comentarios, imágenes, links,
      etc) de otras páginas webs, esto incluye la información publicada por usuarios de dichas
      páginas, por lo tanto, no nos hacemos responsables de estas publicaciones y no
      respondemos legalmente por ellas. Toda responsabilidad es derivada al sitio web de
      origen de la publicación.
    </p>

    <h4>Propiedad Intelectual</h4>
    <p>
      En Youniverse.club, los diseñadores e ilustradores conservan la propiedad intelectual de
      sus diseños y publicaciones. Contenidos e imágenes que no pertenecen a diseñadores o
      ilustradores en contrato con nosotros, pertenece a Youniverse.club. Nuestro contenido
      no puede ser usado sin consentimiento previo y escrito de Youniverse.club.
    </p>
    <p>
      Nosotros hacemos respetar nuestros derechos de propiedad intelectual, así como
      también, respetamos los derechos de los diseñadores/ilustradores/artistas. <strong>Si alguno de
      tus diseños es usado sin los derechos de propiedad intelectual correspondientes, por
      favor, comunícate con nosotros vía email</strong> . En tu reclamo de derechos, incluye
      información específica sobre el material cuyos derechos se han infringido, descripción de
      la ubicación exacta del material en la página web de Youniverse.club, y tus datos
      personales (nombre completo, DNI o ID, dirección y teléfono)
    </p>

    <h4>Publicaciones</h4>
    <p>
      Youniverse.club es una comunidad en la que prima la interacción y la libre expresión de
      diseñadores, ilustradores y compradores. Cada diseño presentado en la página es
      revisado por el equipo de Youniverse.club. Sin embargo, no respaldamos ni asumimos la responsabilidad de los comentarios, ideas,
      opiniones vertidas por los usuarios de Youniverse.club en cualquier formato (textos,
      imágenes, dibujos, archivos, entre otros) dentro de la página web, puesto que esto no es
      revisado por nuestro equipo.
    </p>
    <p>
      Usarás nuestra página bajo tu propio riesgo respecto a los comentarios o contenidos que
      publiques. Asimismo, si tienes algún problema con comentarios o contenidos vertidos por
      otros usuarios, por favor, comunícate directamente con este usuario.
      Si tus publicaciones contienen imágenes o fotos, Youniverse.club asume que este
      contenido es de tu propiedad, asimismo, que cuentas con la autorización de las personas
      representadas en una foto o publicación (Si la persona es menor de edad, asumimos que
      ésta tiene el permiso de sus padres).
    </p>
    <p>
      Youniverse.club está en contra de publicaciones con contenidos que infringen los
      derechos de autor, contenidos difamatorios, o contenidos que atentan contra la moral, no
      nos responsabilizamos por contenidos de esta naturaleza vertidos por alguno de os
      usuarios.
    </p>
    <p>
      Al presentar tus diseños a Youniverse.club, estás conservando tus derechos de autor
      sobre el diseño, pero también, otorgas a Youniverse.club una licencia no exclusiva de
      realizar modificaciones sobre el diseño,  reproducción y comercialización del mismo, y
      uso del material para publicidad relacionada con Youniverse.club. Tambien, al presentar
      tus diseños, otorgas autorización para que éstos sean comentados en la página por otros
      usuarios.
    </p>

    <h4>Nuestros productos</h4>
    <p>
      En su búsqueda de la excelencia en la calidad, Youniverse.club cuenta con distintos
      proveedores de prendas textiles. En la página web siempre brindaremos información
      copleta sobre el cada producto y sus características específicas. El producto que compres
      llegará a ti conforme lo pediste, sin embargo, siempre debes considerar pequeñas
      variaciones en el polo, esto debido al proveedor con que trabajemos en ese momento.
    </p>
    <p>
      Constantemente nos esforzamos por plasmar en nuestra página web cada ilustración en
      la ropa con la mayor fidelidad posible, por ello, nuestros estampados son sometidos a
      estrictos controles de calidad que garantizan que el diseño será lo más parecido a la
      ilustración. Sin embargo, se debe recordar que, aunque las paletas de colores digitales y
      serigráficas guardan una estrecho parecido, no suelen ser idénticos.
    </p>


    <h4>Compra</h4>
    <p>
      Youniverse.club garantiza que el comprador final recibirá el producto con la talla, color,
      diseño y tipo de estampado seleccionado en la compra.
    </p>

  </div>
</div>
