<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %> (<%= link_to 'editar perfil', edit_user_path(@user) %>)
  <br/><br/><br/><br/><br/><br/>

  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</p>

