<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Youniverse</h5>
        <p class="grey-text text-lighten-4">Diseños impresos para vestir original :)</p>


      </div>
      <div class="col l3 s12">
        <ul>
          <li><%= link_to 'Políticas de privacidad', privacy_path, class: 'white-text' %></li>
          <li><%= link_to 'Términos del servicio', tos_path, class: 'white-text' %></li>
          <li><%= link_to 'Sobre nosotros', about_path, class: 'white-text' %></li>
          <li><a class="white-text" href="#!">Políticas de reembolso</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Youniverse
    </div>
  </div>
</footer>