<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About Youniverse</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project.</p>


      </div>
      <div class="col l3 s12">
        <ul>
          <li><a class="white-text" href="#!">Privacy policy</a></li>
          <li><a class="white-text" href="#!">Terms of service</a></li>
          <li><a class="white-text" href="#!">About</a></li>
          <li><a class="white-text" href="#!">Refund policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://youniverse.club">Youniverse team</a>
    </div>
  </div>
</footer>