<!-- Menu bar -->
<nav class="light-blue darken-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo center">Y</a>

    <!-- Standard menu -->
    <ul class="left hide-on-med-and-down">
      <li><a href="#login-form-modal" class="modal-trigger">Sign in</a></li>
    </ul>
    <!-- End Standard menu -->

    <!-- Mobile menu -->
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#login-form-modal" class="modal-trigger">Sign in</a></li>
    </ul>
    <!-- End Mobile menu -->

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<!-- End Menu bar -->