<!-- Login form modal -->
<div id="login-form-modal" class="modal" style="width: 100%">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">

        <div class="valign center">
          <h4>Iniciar sesi칩n</h4><br/>
        </div>

        <div class="row center">
          <div class="col s12">
            <% ['twitter'].each do |provider| %>
                <%= link_to omniauth_authorize_path('user', provider), class: "login-google btn waves-effect waves-light red" do %>
                    <i class="mdi mdi-google left"></i> <%= "Iniciar con #{provider.to_s.titleize}" %>
                <% end %>
                <br/>
            <% end %>
          </div>
        </div>

        <div class="row center">
          <p class="small">No publicamos nada en tus cuentas sin tu permiso.
            Para m치s informaci칩n, mira la secci칩n de <a href="#">FAQ's</a>.</p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End Login form modal -->