<h1>Orders</h1>

<table>
  <thead>
  <tr>
    <th>#</th>
    <th>items</th>
    <th>payment status</th>
    <th>purchased at</th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.order_items.count %></td>
        <td><%= order.payment.status %></td>
        <td><%= order.payment.purchased_at %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>